# Database Configuration
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

# Redis Configuration
REDIS_ADDR=

# Integration Standard (Tugas 2)
IAE_SERVICE_NAME=
IAE_API_VERSION=
IAE_KEY=

# SSO Configuration
SSO_URL=
API_KEY=